<div class='container'>
  <div class='card card-login mx-auto mt-5'>
    <div class='card-header'>Reset Password</div>
    <div class='card-body'>
      <div class='text-center mb-4'>
        <h4>Forgot your password?</h4>
        <p>Enter your email address and we will send you instructions on how to reset your password.</p>
      </div>
      <form class="new_user" id="new_user" action="/password" accept-charset="UTF-8" method="post"><input name="utf8"
          type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token"
          value="oqfdWjVqAvTQUY3HaXey+Og7yphxDBwZQmBLGg073v5BcVU4fuEU16eWRPZNRV0rpos3mLFe62NOPRPRYUyLmA==" />
        <div class='form-group'>
          <div class='form-label-group'>
            <input class="form-control" autofocus="autofocus" autocomplete="email" placeholder="Enter email address"
              required="required" type="email" value="" name="user[email]" id="user_email" />
            <label for="user_email">Email</label>
          </div>
        </div>
        <input type="submit" name="commit" value="Send me reset password instructions" class="btn btn-primary btn-block"
          data-disable-with="Send me reset password instructions" />
      </form>
      <div class='text-center'>
        <a class="d-block small mt-3" routerLink="/public/login">Log in</a>
        <a class="d-block small" routerLink="/public/signup">Sign up</a>
        <a class="d-block small" routerLink="/public/confirm">Didn&#39;t receive confirmation instructions?</a>
        <a class="d-block small" routerLink="/public/unlock">Didn&#39;t receive unlock instructions?</a>
      </div>

    </div>
  </div>
</div>
