#shortcuts{
	font-size:.7rem;
	.btn-circle{
		width: 70px;
	    height: 70px;
	    padding: 19px;
	    font-size: 24px;
	    line-height: 1.33;
	    border-radius: 35px;
	    margin-bottom: 5px;
	    border-color: #ccc;
	}	
}