<app-page-header subTitle="Service Availability"></app-page-header>

<div class="container-fluid">
  <br />
  <div class="ui-g">
    <div class="ui-g-12 ui-lg-6">
      <p-panel>
        <p-header>
          Web Interface
        </p-header>
        <p-panel>
          Web API&nbsp;&nbsp;<i class="fas fa-info-circle"></i>&nbsp;&nbsp;
          <h5 style="display: inline"><span class="badge badge-success">Operational</span></h5>
        </p-panel>

        <p-panel>
          Web UI&nbsp;&nbsp;<i class="fas fa-info-circle"></i>&nbsp;&nbsp;
          <h5 style="display: inline"><span class="badge badge-success">Operational</span></h5>
        </p-panel>
      </p-panel>
    </div>
    <div class="ui-g-12 ui-lg-6">
      <p-panel>
        <p-header>
          Data Stores
        </p-header>

        <p-panel>
          MF Service&nbsp;&nbsp;<i class="fas fa-info-circle"></i>&nbsp;&nbsp;
          <h5 style="display: inline"><span class="badge badge-success">Operational</span></h5>
        </p-panel>

        <p-panel>
          Amazon S3 - East 1&nbsp;&nbsp;<i class="fas fa-info-circle"></i>&nbsp;&nbsp;
          <h5 style="display: inline"><span class="badge badge-warning">Warn</span></h5>
        </p-panel>

        <p-panel>
          Amazon S3 - West 1&nbsp;&nbsp;<i class="fas fa-info-circle"></i>&nbsp;&nbsp;
          <h5 style="display: inline"><span class="badge badge-success">Operational</span></h5>
        </p-panel>
        <p-panel>
          Wasabi - 001&nbsp;&nbsp;<i class="fas fa-info-circle"></i>&nbsp;&nbsp;
          <h5 style="display: inline"><span class="badge badge-danger">Offline</span></h5>
        </p-panel>
        <p-panel>
          Offline Store&nbsp;&nbsp;<i class="fas fa-info-circle"></i>&nbsp;&nbsp;
          <h5 style="display: inline"><span class="badge badge-danger">Offline</span></h5>
        </p-panel>
      </p-panel>
    </div>
  </div>
  <br />
  <p-scrollPanel [style]="{width: '100%', height: '200px'}">
    <p-header>
      Event History
    </p-header>
    <p-panel>
      <p-header>2019-10-04 11:45am</p-header>
      Amazon S3 - West 1 - State Change - Returned to operational
    </p-panel>
    <p-panel>
      <p-header>2019-10-03 07:45pm</p-header>
      Wasabi 001 - State Change - Offline
    </p-panel>
    <p-panel>
      <p-header>2019-10-03 07:45pm</p-header>
      Wasabi 001 - State Change - Offline
    </p-panel>
    <p-panel>
      <p-header>2019-10-03 07:45pm</p-header>
      Wasabi 001 - State Change - Offline
    </p-panel>
    <p-panel>
      <p-header>2019-10-03 07:45pm</p-header>
      Wasabi 001 - State Change - Offline
    </p-panel>
    <p-panel>
      <p-header>2019-10-03 07:45pm</p-header>
      Wasabi 001 - State Change - Offline
    </p-panel>
    <p-panel>
      <p-header>2019-10-03 07:45pm</p-header>
      Wasabi 001 - State Change - Offline
    </p-panel>

  </p-scrollPanel>
</div>
