<div class='container'>
  <div class='card card-login mx-auto mt-5'>
    <div class='card-header'>Resend confirmation instructions</div>
    <div class='card-body'>
      <div class='text-center mb-4'>
        <h4>Didn't receive the account confirmation email?</h4>
        <p>Enter your email address and we will resend you instructions on how to confirm your account</p>
        <p>Make sure to check your spam folder as well</p>
      </div>
      <form class="new_user" id="new_user" action="/confirmation" accept-charset="UTF-8" method="post"><input
          name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token"
          value="uCDBcY3f3KyGAvmBTYxzoDCHLCu46pSk7ufdR7h1czoYTUpEYgCbUHOKfG89SqZ017AK5AGD8bRlvRnFfIfcww==" />
        <div class='form-group'>
          <div class='form-label-group'>
            <input class="form-control" autofocus="autofocus" autocomplete="email" placeholder="Enter email address"
              value="" type="email" name="user[email]" id="user_email" />
            <label for="user_email">Email</label>
          </div>
        </div>
        <input type="submit" name="commit" value="Resend confirmation instructions" class="btn btn-primary btn-block"
          data-disable-with="Resend confirmation instructions" />
      </form>
      <div class='text-center'>
        <a class="d-block small mt-3" routerLink="/public/login">Log in</a>
        <a class="d-block small" routerLink="/public/signup">Sign up</a>
        <a class="d-block small" routerLink="/public/forgot-password">Forgot your password?</a>
        <a class="d-block small" routerLink="/public/unlock">Didn&#39;t receive unlock instructions?</a>
      </div>

    </div>
  </div>
</div>
