<div class='container'>
  <div class='card card-register mx-auto mt-5'>
    <div class='card-header'>Register an Account</div>
    <div class='card-body'>
      <p class='notice'></p>
      <p class='alert'>
      </p>
      <form class="new_user">
        <div class='form-group'>
          <div class='form-row'>
            <div class='col-md-6'>
              <div class='form-label-group'>
                <input class="form-control" autofocus="autofocus" placeholder="First Name" required="required"
                  type="text" />
                <label for="user_first_name">First name</label>
              </div>
            </div>
            <div class='col-md-6'>
              <div class='form-label-group'>
                <input class="form-control" placeholder="Last Name" required="required" type="text" />
                <label for="user_last_name">Last name</label>
              </div>
            </div>
          </div>
        </div>
        <div class='form-group'>
          <div class='form-row'>
            <div class='col-md-6'>
              <div class='form-label-group'>
                <input class="form-control" placeholder="Company" required="required" type="text" />
                <label for="user_company_attributes_company_name">Company</label>
              </div>
            </div>
            <div class='col-md-6'>
              <div class='form-label-group'>
                <input class="form-control" placeholder="Subdomain" required="required" type="text" />
                <label for="user_company_attributes_subdomain">Subdomain</label>
              </div>
            </div>
          </div>
        </div>
        <div class='form-group'>
          <div class='form-label-group'>
            <input class="form-control" autofocus="autofocus" autocomplete="email" placeholder="Email Address"
              required="required" type="email" value="" />
            <label for="user_email">Email</label>
          </div>
        </div>
        <div class='form-group'>
          <div class='form-row'>
            <div class='col-md-6'>
              <div class='form-label-group'>
                <input class="form-control" placeholder="Password" autocomplete="new-password" required="required"
                  type="password" />
                <label for="user_password">Password</label>
              </div>
            </div>
            <div class='col-md-6'>
              <div class='form-label-group'>
                <input class="form-control" placeholder="Confirm Password" autocomplete="new-password"
                  required="required" type="password" />
                <label for="user_password_confirmation">Password confirmation</label>
              </div>
            </div>
            <div class='col-md-12'>
              <em>
                (6 characters minimum)
              </em>
            </div>
          </div>
        </div>
        <input value="Register" class="btn btn-primary btn-block" data-disable-with="Register" />
      </form>
    </div>
  </div>
</div>
