<td class="cell" role="gridcell"><span role="checkbox" class="fancytree-checkbox  far fa-square"></span></td>
<td class="favourite" role="gridcell"><input name="tenant_folder[is_favourite]" type="hidden" value="0"><input
    id="tenant_folder_is_favourite_1" class="sr-only"
    onchange="this.setAttribute('data-params', 'tenant_folder[is_favourite]=' + this.checked*this.checked)"
    data-remote="true" data-url="/folders/1" data-method="patch" type="checkbox" value="1"
    name="tenant_folder[is_favourite]"><label for="tenant_folder_is_favourite_1"></label></td>
<td class="folder" role="gridcell">
  <span class="fancytree-node" draggable="true" style="padding-left: 0px;"><span
      class="fancytree-expander  "></span><span role="presentation" class="fancytree-icon  fas fa-folder"></span><span
      class="fancytree-title">
      <a href="#" onclick="return false;" (click)="changeNamespace(ns)">{{ns.name}}</a></span></span></td>
<td class="cell" role="gridcell">5.37 MB</td>
<td class="cell" role="gridcell">December 18th, 2018 14:48</td>
<td class="cell" role="gridcell">Corby Simpson</td>
<td class="text-center text-success" role="gridcell"><i class="fas fa-circle"></i>
</td>
<td class="text-center" role="gridcell"></td>
