.datatable-body-cell {
      padding: 0.68rem!important;
      border: 0;
      white-space: nowrap;
}


.datatable-body-cell-label{
  padding:.68rem;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-body-cell{
  background:#33ff00;
}
